<style>
    body {
        background: #3EE784;
        color: #BA49F3;
    }
</style>

<div>
  
    <ul>
        <li>ФИО: Петрушина Татьяна Дмитриевна;</li>
        <li>Дата рождения / Возраст: 24.10.1995 / 20 лет;</li>
        <li>Место учебы: Университет ИТМО, 3 курс, факультет информационных технологий и программирования;</li>
        <li>В свободное время: Читаю, смотрю сериалы, гуляю, больше не могу придумать. </li>
        <li>Телефон: +79818857860</li>
        
    </ul>
    <a href="~/Home/Index">Назад</a>
</div>

