<style>
    body {
        background: #3EE784;
        color: #BA49F3;
    }
</style>
<div>
    <h1>Всем привет!</h1>
    <p> <h3>  <b>  Обычная и почти бесполезная информация обо мне на этом сайтике   </b>  </h3> </p>
</div>

